table {
    border-collapse: collapse 2px solid black;
    width: 100%;
}
  
th {
    background-color: #333;
    color: white;
    text-align: left;
    padding: 8px;
}
  
td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}
  
tr:nth-child(even) {
    background-color: #f2f2f2;
}
  
tr:hover {
    background-color: #ddd;
}
  
.rounded-borders {
    border-radius: 10px;
}
  
.colored-id {
    color: #555;
}
  
button {
    background-color: #4CAF50;
    color: white;
    padding: 8px 16px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}